# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

secrets:
  apisecret:
    value: ""

replicaCount: 1

namespace: "symbolapi"

image:
  repository: enza252/symbolapi
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: "serviceuser"

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: NodePort
  port: 8080

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: symbolapi.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
